SECRET_KEY=super_secret_key
WORKERS=4
TEMPLATES_AUTO_RELOAD=false

# Kube CTF
KUBECTF_HOST=
KUBECTF_SECRET=

# DB
DB_USERNAME=ctfd
DB_PASSWORD=ctfd
DB_ROOT_PASSWORD=ctfd
DB_HOST=db
DB_PORT=3306
DB_NAME=ctfd

# Redis
REDIS_HOST=cache
REDIS_PORT=6379

REVERSE_PROXY=true

DISCORD_WEBHOOK_URL=

# Proxy
DOMAIN=
LETSENCRYPT_EMAIL=

# S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_S3_REGION=
AWS_S3_ENDPOINT_URL=
AWS_S3_CUSTOM_PREFIX=